@import "../sass/utils/vars.scss";
@import "../sass/utils/mixins.scss";
@import "../sass/utils/colors.scss";
@import "../sass/utils/global.scss";
@import "../sass/utils/fonts.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";

$red: #ce0808;

html,
body {
  height: 100%;
  background-color: #333333;
  color: $red;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  min-height: 100vh;
  // background: linear-gradient(to right bottom, #a20606 50%, #d60000 50%);
  background: url("https://www.interfax.ru/aspimg/46245p.png") center / cover
    no-repeat no-repeat fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    .friday {
      box-shadow: 0 -10px 30px 10px rgba(0, 0, 0, 0.2);
      bottom: -25%;
    }

    .black {
      box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.2);
      top: -25%;
    }
  }

  &-one {
    .service__link {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      width: 40px;
      height: 40px;
      background-color: $red;
      z-index: 10;
      font-size: 0;
      color: transparent;

      &::after {
        position: absolute;
        content: "\203A";
        width: 40px;
        height: 40px;
        top: 5px;
        left: 0;
        z-index: 20;
        font-size: 30px;
        color: $black;
        text-align: center;
        transition: $tr;
        animation: bouncex 0.3s alternate ease infinite;
      }

      &:hover::after {
        animation: none;
      }
    }
  }

  &-two {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-three {
    background-color: rgb(224, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-bg {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://www.interfax.ru/aspimg/46245p.png") center / cover
      no-repeat fixed;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.fullscreen__body {
  text-align: center;
  color: $white;
  overflow: hidden;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 40px;
}

.black {
  background-color: $black;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  min-height: 50vh;
  width: 100%;
  transition: 1s all ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: $red;
  user-select: none;
}

.friday {
  background-color: $red;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $black;
  min-height: 50vh;
  width: 100%;
  transition: 1s all ease-in-out;
  user-select: none;
}

.link {
  text-transform: uppercase;
  display: block;
  padding: 10px 25px;
  color: $white;
  text-align: center;
  text-decoration: none;
  border: 3px solid $white;
  background-color: $red;
  border-radius: 20px;

  &:hover {
    animation: shake 0.8s linear infinite;
  }
}
@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes bouncex {
  from {
    transform: translateX(-3px);
  }

  to {
    transform: translateX(3px);
  }
}
